@font-face {
  font-family: "AnimeFont";
  src: url(./assets/fonts/CrunchyTime.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-logo: "AnimeFont", sans-serif;

  /* Warna identitas utama (logo, button) */
  --color-brand: #ff6900;
  --color-brand-dark: #cc5200;
  --color-brand-light: #ff9a3c;

  /* Base */
  --color-base: #1a2024;

  --color-surface-1: #20272c; /* sidebar */
  --color-surface-2: #242d33; /* navbar */
  --color-surface-3: #2a343b; /* card */

  /* Border */
  --color-outline: #313c44;

  /* Text - Light Surface */
  --color-foreground: #eeeeee;
  --color-foreground-muted: #9ca3af;
  
  /* Text - Dark Mode */
  --color-foreground-inverse: #1f2937;
  --color-foreground-inverse-muted: #4b5563;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-brand) transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;          
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-brand);
  border-radius: 999px;
}


.section-carousel-scroll {
  scrollbar-width: none; 
}

.section-carousel-scroll::-webkit-scrollbar {
  display: none; 
}


body {
  background-color: var(--color-base);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlideUp {
  animation: fadeSlideUp 0.5s ease forwards;
}
